body {
    margin: 0px;
}

#navbar {
    height: 50px;
    background-color: #252525;
    display: flex;
}

.linkButton, .menuButton {
    width: auto;
    margin-left: 25px;
    margin-right: 25px;
    background-color: transparent;
    border: none;
    font: 16px sans-serif;
    color: white;
    cursor: pointer;
}

.menuLinkButton {
    width: auto;
    background-color: transparent;
    border: none;
    font: 16px sans-serif;
    color: white;
    cursor: pointer;
    display: block;
    padding-top: 6px;
    padding-bottom: 6px;
}

.openMenu {
    background-color: #404040;
    font: 16px sans-serif;
    color: white;
}